.baner{
    align-items: center;
    font-family: Roboto;

}

.baner__desc{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 537px;
    justify-content: center;
    background-color: black;
    z-index: -100;
    align-items: center;

}

.baner__desc__info{
    width: 1065px;
    z-index: 100;
}

.baner__desc__infoTitle{
    font-size: 2.3vw;
    max-width: 526px;
    width: 100%;
    color: white;
    z-index: 100;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 80px;

}

.baner__desc__infoProperties{
    color: white;
    display: flex;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.baner__desc__infoDesc{
max-width: 526px;
width: 100%;
color: white;
z-index: 100;

}

.baner__descBgimg{
    top:0;
    height: 537px;
    width: 1065px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    background-position-y: 23.0%;
    opacity: 80%;

    
}

.baner__descBgimg::after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 537px;
    background: linear-gradient(
        180deg,#000,rgba(0,0,0,.001) 26.7%,rgba(0,0,0,.001) 64%,#000 100%),linear-gradient(
        90deg,#000,rgba(0,0,0,.001) 12%,transparent 82.41%,#000 100%);
        z-index: 100;
}

.baner__topMovies{
 display: flex;
 z-index: 100;
 margin: -135px auto  0 auto;
 width: 1105px;
 overflow:hidden;
 position: relative;

}

.baner__topMovies__prevBtn{
    left: 0px;
    transform: translateY(-50%);
}


.baner__topMovies__nextBtn{
    right: 0px;
    transform: translateY(-50%);
}

.baner__topMovies__nextBtn, .baner__topMovies__prevBtn{
    border-radius: 50%;
    text-align: center;
    line-height: 220%;
    top: 136px;
    height: 30px;
    width: 30px;
    content: "";
    position: absolute;
    background-color: rgb(255, 217, 0);

}

.baner__topMovies__prevBtn:hover, .baner__topMovies__nextBtn:hover{
    cursor: pointer;
    background-color:rgb(255, 225, 53);
    color: rgb(58, 58, 58);
}


.baner__topMoviesImgs{
    margin-left: 40px;
    transition: all 0.4s ease-in-out;
    height: 332px;
    width: 183px;


}
.baner__topMoviesImgs__bottomTitle{
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    user-select: none;
    text-overflow: ellipsis;
    font-weight: 600;
}

.baner__topMoviesImgs__bottomTitle > a{
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.baner__topMoviesImgs:first-child{
    margin-left: 15px;
}

.baner__topMoviesImgs > img {
    width: 179px;
    border: 2px solid transparent;
    height: 268px;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.baner__topMoviesImgs--border{
    border: solid 2px rgb(255, 217, 0) !important;
}

.baner__topMoviesImgs:hover > img {
    cursor: pointer;

}