.comment {
  width: 956px;
  margin: auto;
}

.comment__inside {
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.comment__inside__profile {
  display: flex;
  align-items: center;
  margin: 15px 20px 10px 20px;
}

.comment__inside__profileDateAndName {
  margin-left: 20px;
}

.comment__inside__profileDate {
  font-size: 13px;
  color: rgb(107, 107, 107);
}

.comment__inside__profileAvatar > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(221, 221, 221);
  padding: 2px;
}

.comment__inside__text {
  font-size: 15px;
  color: rgb(107, 107, 107);
  padding: 0 20px;
}

.comment__inside__bottom {
  margin: 15px 0 20px 0;
  padding: 0 20px;
  color: rgb(107, 107, 107);
  user-select: none;
}
.pointer:hover{
  cursor: pointer;
}

.comment__inside__bottom__leftDate {
  font-size: 14px;
}

.comment__inside__bottom__left,
.comment__inside__bottom__leftAnswers,
.comment__inside__bottom__leftReactions,
.comment__inside__bottom__leftDate {
  display: flex;
}
.comment__answer{
    transition: all 0.2s ;
    user-select: none;
    width: fit-content;
}
.comment__answer:hover {
  cursor: pointer;
  opacity: 0.8;
}
.comment__answer__input--textarea {


  border-bottom: none;

  width: 100%;
  height: auto;
  transition: border 0.3s;
  padding: 10px 20px;
  border: none;

  position: relative;
  
  outline: 0 !important;
  box-shadow: none; 
  resize: none;
  overflow: visible;
  border-bottom: 2px solid #e8e8e8;

}
.commentCreate__input--position {
  margin: 40px 0 0 -100px !important;
  width: 505px !important;
}
.comment__answer__input--textarea:focus {
  border-bottom: 2px solid #fdf07a;
}
.comment__answerImg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.answered_comment{
padding-left: 30px;
margin-left: 30px;
border: none !important;
}
.comment__inside--noborder{
  border: none !important;
}

@media (max-width: 768px) {
  .comment {
    width: 100%;
  }
}
