
.movie {
    width: 100%;
    font-family: Roboto;
  }
  
  .movie__top {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 537px;
    color: white;
  }
  
  .movie__bg {
    top: 0;
    height: 537px;
    width: 1065px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    background-position-y: 23%;
    opacity: 80%;
  }
  
  .movie__bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 537px;
    background: linear-gradient(
        180deg,
        #000,
        rgba(0, 0, 0, 0.001) 26.7%,
        rgba(0, 0, 0, 0.001) 64%,
        #000 100%
      ),
      linear-gradient(
        90deg,
        #000,
        rgba(0, 0, 0, 0.001) 12%,
        transparent 82.41%,
        #000 100%
      );
    z-index: 100;
  }
  
  .movie__desc {
    width: 965px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 60px;
  }
  
  .movie__descTitle {
    font-size: 50px;
    font-weight: 700;
    width: 700px;
  }
  
  .movie__desc__titleRelease {
    display: flex;
  }
  
  .movie__desc__titleRelease__release {
    margin-left: 30px;
  }
  
  .movie__desc__votes {
    width: 70px;
    margin-top: 30px;
    display: flex;
  }
  
  .movie__desc__votesAverage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  .movie__desc__votesAverage--icon {
    height: 40px;
    margin-right: 5px;
  }
  .movie__desc__votesCount {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    font-size: 14px;
    justify-content: center;
    line-height: 12px;
  }
  
  .movie__desc__votesAverage--icon {
    color: rgb(255, 217, 0);
  }
  
  .movie__bot {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .movie__info {
    display: flex;
    width: 965px;
    margin-top: 30px;
  }
  
  .movie__info__image > img {
    width: 200px;
    height: 285px;
  }
  
  .movie__info__overview {
    line-height: 30px;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .movie__info__overviewDesc {
    margin-bottom: 50px;
  }
  
  .movie__info__overviewDesc--showMore {
      color:rgb(139, 139, 139);
  }
  
  .movie__info__overviewDesc--showMore:hover {
      cursor:pointer;
      user-select: none;
  }
  
  .movie__info__overview__element {
    display: flex;
    flex-wrap: wrap;
  }
  
  .movie__info__overview__element--text {
    opacity: 0.8;
  }
  
  .movie__info__overview__element--next:last-child > span {
    display: none;
  }